body,
html  {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-img {
  background-image: url('../img/studio/brick_background.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-button-container {
  width: 65%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 0 50px 0;
}

.signature-container {
  display: block;
  max-width: 30%;
  height: 100%;
  margin: 0 8px 50px 0;
  float: left;
}

.nav-button-wrapper {
  width: 25%;
  height: 20%;
  margin: 20px;
}

.nav-button-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.header-logo {
  position: absolute;
  left: 5px; top: 5px;
  height: 150px;
}

.social-media-container {
  text-align: center;
}

.social-container-main {
  position: fixed;
  right: 15px;
  top: 25px;
}

.social-icon {
  dispay: block;
  height: 100px;
  margin: 20px 7px 0 7px;
}

.header-container {
  text-align: center;
  margin: 20px auto;
}

.home-circle-1 {
  width: 15%;
  height: auto;
  position: fixed;
  left: 20px;
  bottom: 20px;
  margin: auto;
  z-index: -1;
}

.home-circle-2 {
  width: 20%;
  height: auto;
  position: fixed;
  right: 30px;
  top: 8%;
  margin: auto;
  z-index: -1;
}

.home-circle-3 {
  width: 25%;
  height: auto;
  position: fixed;
  left: 20px;
  top: 30%;
  margin: auto;
  z-index: 1;
}

.home-circle-4 {
  width: 18%;
  height: auto;
  position: fixed;
  left: 18%;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.home-circle-5 {
  width: 26%;
  height: auto;
  position: fixed;
  right: 5%;
  bottom: 13%;
  margin: auto;
  z-index: 1;
}

.home-circle-6 {
  width: 20%;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.home-circle-7 {
  width: 23%;
  height: auto;
  position: fixed;
  left: 45%;
  bottom: 0;
  z-index: -1;
}

.home-circle-8 {
  width: 10%;
  height: auto;
  position: fixed;
  left: 10%;
  top: 12%;
  margin: auto;
  z-index: -1;
}

.home-circle-9 {
  width: 13%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.home-logo {
  width: 40%;
  position: fixed;
  top: 3%;
  left: 0; right: 0;
  margin: auto;
}

.enter-studio-main {
  position: fixed;
  width: 27%;
  top: 49%;
  left: 0; right: 0;
  text-align: center;
  margin: auto;
  font: 40pt helvetica, arial;
}

.main-page-signature {
  display: block;
  width: 100%;
  margin: auto;
  transform: rotate(-15deg);
}

.main-page-title {
  display: block;
  width: 100%;
  margin: 10% 0 0 0;
}

.nav-bar {
  margin: auto;
  width: auto;
}

.logo {
  width: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.nav-link {
  width: 75px;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.logo {
  width: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.social-btn-wrapper {
  position: absolute;
  right: 0; top: 25px;
}

.social-btn-header {
  height: 75px;
  float: right;
  margin: auto 10px 10px auto;
}

.main-container-main {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
}

.name-container-main {
  display: flex;
  position: fixed;
  top: 25px;
  left: 25px;
  align-items: center;
  justify-content: center;
}

.name-main {
  display: inline;
  font: 35pt helvetica, arial;
  margin: 0;
}

.studio-events-main {
  display: inline;
  font: 17pt helvetica, arial;
  margin: 0 0 0 10px;
  color: grey;
}

.about-container {
  margin: 150px auto auto auto;
  text-align: center;
}

.about-main-img {
  display: inline-block;
  width: 35%;
  margin: auto 40px auto 20px;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.about-main-text-wrapper {
  display: inline-block;
  margin: auto 20px auto 40px;
  width: 50%;
  vertical-align: middle;
  text-align: justify;
}

.about-main-quote {
  margin: auto auto 20px auto;
  text-align: center;
  font: bold 28pt georgia, arial;
  font-style: italic;
}

.about-main-text {
  font: 16pt helvetica, arial;
  margin: auto auto 20px auto;
}

.about-main-text-2 {
  font: 16pt helvetica, arial;
  margin: auto;
}

.about-main-text-3 {
  font: 16pt helvetica, arial;
  margin: 20px auto auto auto;
}

.art-night-main-container {
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: space-around;
  margin: 75px auto 75px auto;
  text-align: center;
}

.art-night-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin: 0;
}

.art-night-title {
  font: bold 30pt helvetica, arial;
}

.art-night-text {
  display: flex;
  align-self: center;
  font: 17pt helvetica, arial;
  text-align: justify;
  height: auto;
  margin: auto;
  overflow-y: auto;
}

.art-night-main-img-container {
  width: 30%;
  height: 100%
  margin: auto;
}

.art-night-main-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.art-night-info-container {
  display: flex;
  width: 90%;
  margin: auto auto 95px auto;
  text-align: center;
}

.art-night-info-wrapper {
  width: 25%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

.art-night-info-header {
  font: bold 35pt helvetica, arial;
  margin: auto;
}

.art-night-info {
  margin: auto;
  color: #9932CC;
  font: 20pt georgia, arial;
}

.art-night-register-btn {
display: inline-flex;
font-family: helvetica, arial;
font-size: 48px;
font-weight: bold;
padding: 5px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-decoration: none;
margin: auto;
color: white;
background-color: #9932CC;
box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
            0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.reg-btn {
  margin: auto;
  text-align: center;
}

.qty {
  display: inline-block;
  vertical-align: middle;
  font: 30pt helvetica, arial;
  margin: auto;
}

.qty-box {
  width: 45px;
  height: 45px;
  font: bold 48px helvetica, arial;
  text-align: center;
  margin: auto;
}

.art-night-dates {
  width: 100%;
  height: auto;
  padding: 70px 0 70px 0;
  margin: auto auto 75px auto;
  background-image: url("../img/art_night/scribble_circle_background_dates.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.art-night-dates-header {
  text-align: center;
  font: bold 35pt helvetica, arial;
  margin: auto;
}

.art-night-dates-text {
  text-align: center;
  font: 20pt georgia, arial;
  color: #9932CC;
}

.art-night-img-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 75px;
}

.art-night-img {
  height: 400px;
}

.art-night-testimonials {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto auto 50px auto;
}

.art-night-test-header {
  text-align: center;
  font: bold 35pt helvetica, arial;
  margin: auto;
}

.art-night-test-wrapper {
  display: flex;
  text-align: center;
  margin: 25px auto;
}

.art-night-test-text {
  text-align: center;
  font: 20pt georgia, arial;
  color: white;
  width: 30%;
  margin: auto;
  color: #9932CC;
}

.private-event-container {
  margin: 100px auto auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.private-event-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 40%;
}

.private-event-img-wrapper-2 {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.private-event-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

.private-event-text {
  font: 18pt helvetica, arial;
  text-align: justify;
  margin: 10px auto;;
}

.private-event-img {
  margin-bottom: 20px;
}

.private-event-img-2 {
  width: 40%;
  align-self: flex-start;}

.private-event-img-3 {
  width: 55%
}

.private-event-form-header {
  font: bold 24pt helvetica, arial;
}

.private-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.private-event-input {
  margin: 10px auto;
  width: 100%;
  font: 16pt helvetica, arial;
}

.private-event-form-btn {
  width: auto;
  font: bold 24pt helvetica, arial;
  color: white;
  background-color: #9932CC;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.contact-container {
  width: 90%;
  margin: 100px auto auto auto;
  display: flex;
  justify-content: space-around;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-header {
  font: bold 24pt helvetica, arial;
  margin: 70px 0 0 0;
}

.contact-phone-btn,
.contact-email-btn {
  text-align: center;
  width: 160px;
  font: bold 24pt helvetica, arial;
  padding: 5px 10px;
  background-color: #9932CC;
  color: white;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.contact-social-btn {
  width: 180px;
  height: 50px;
  font: bold 24pt helvetica, arial;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.contact-info-form {
  margin: 10px auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-input {
  font: 18pt helvetica, arial;
  color: purple;
  margin-top: 10px;
  width: 350px;
}

.contact-form-submit-btn {
  width: 150px;
  padding: 5px 10px;
  background-color: #9932CC;
  color: white;
  font: bold 12pt helvetica, arial;
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.contact-main-img {
  width: 600px;
  align-self: flex-start;
}

@media screen and (max-width: 1000px) {
  .name-main {
    font: bold 25pt helvetica, arial;
  }

  .studio-events-main {
    font: 12pt helvetica, arial;
  }

  .enter-studio-main {
    font: 25pt helvetica, arial;
  }

  .header-logo {
    position: absolute;
    left: 5px; top: 25px;
    height: 85px;
  }

  .social-icon {
    height: 75px;
    margin: 20px 4px;
  }

  .about-main-text {
    font: 12pt helvetica, arial;
    margin: auto auto 20px auto;
  }

  .about-main-text-2 {
    font: 12pt helvetica, arial;
    margin: auto;
  }

  .about-container {
    margin: 75px auto auto auto;
    text-align: center;
  }

  .art-night-text {
    font-size: 12pt;
  }
