body,
html  {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-img {
  background-image: url('../img/brick_background.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-button-container {
  width: 1200px;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 0 50px 0;
}

.signature-container {
  display: block;
  max-width: 27%;
  height: 100%;
  margin: 0 8px 50px 0;
  float: left;
}

.nav-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.50),
              0 15px 25px 0 rgba(0, 0, 0, 0.47);
}

.social-media-container {
  text-align: center;
}

.social-container-main {
  position: fixed;
  right: 15px;
  top: 25px;
}

.social-icon {
  dispay: block;
  height: 55px;
  margin: 0 7px;
}

.header-container {
  float: right;
}

.home-circle-1 {
  width: 15%;
  height: auto;
  position: fixed;
  left: 20px;
  bottom: 20px;
  margin: auto;
  z-index: -1;
}

.home-circle-2 {
  width: 20%;
  height: auto;
  position: fixed;
  right: 30px;
  top: 8%;
  margin: auto;
  z-index: -1;
}

.home-circle-3 {
  width: 25%;
  height: auto;
  position: fixed;
  left: 20px;
  top: 30%;
  margin: auto;
  z-index: 1;
}

.home-circle-4 {
  width: 18%;
  height: auto;
  position: fixed;
  left: 18%;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.home-circle-5 {
  width: 26%;
  height: auto;
  position: fixed;
  right: 5%;
  bottom: 13%;
  margin: auto;
  z-index: 1;
}

.home-circle-6 {
  width: 20%;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.home-circle-7 {
  width: 23%;
  height: auto;
  position: fixed;
  left: 45%;
  bottom: 0;
  z-index: -1;
}

.home-circle-8 {
  width: 10%;
  height: auto;
  position: fixed;
  left: 10%;
  top: 12%;
  margin: auto;
  z-index: -1;
}

.home-circle-9 {
  width: 13%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.home-logo {
  width: 40%;
  position: fixed;
  top: 3%;
  left: 0; right: 0;
  margin: auto;
}

.enter-studio-main {
  position: fixed;
  width: 27%;
  top: 49%;
  left: 0; right: 0;
  text-align: center;
  margin: auto;
  font: 40pt helvetica, arial;
}

.main-page-signature {
  display: block;
  width: 100%;
  margin: auto;
}

.main-page-title {
  display: block;
  width: 100%;
  margin: 10% 0 0 0;
}

.nav-bar {
  margin: auto;
  width: auto;
}

.logo {
  width: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.nav-link {
  font: 16pt georia, arial;
  margin: 0 10px;
}

.logo {
  width: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.main-container-main {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
}

.name-container-main {
  display: flex;
  position: fixed;
  top: 25px;
  left: 25px;
  align-items: center;
  justify-content: center;
}

.name-main {
  display: inline;
  font: 35pt helvetica, arial;
  margin: 0;
}

.studio-events-main {
  display: inline;
  font: 17pt helvetica, arial;
  margin: 0 0 0 10px;
  color: grey;

}

@media screen and (max-width: 1000px) {
  .main-image-changer-1 {
    width: 400px;
    height: 400px;
    top: 15%;
  }

  .main-image-changer-2 {
    width: 400px;
    height: 400px;
    top: 15%;
  }

  .main-image-changer-3 {
    width: 400px;
    height: 400px;
    top: 15%;
  }

  .name-main {
    font: 25pt helvetica, arial;
  }

  .studio-events-main {
    font: 12pt helvetica, arial;
  }

  .enter-studio-main {
    font: 25pt helvetica, arial;
  }

  .social-icon {
    height: 35px;
    margin: 0 4px;
  }
}
