<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="about-container">
      <img class="about-main-img" src="../static/img/about/about_amy_headshot.jpg">
      <div class="about-main-text-wrapper">
        <p class="about-main-quote" data-bind="text: aboutAmyQuote"></p>
        <p class="about-main-text" data-bind="text: aboutAmyText"></p>
        <p class="about-main-text-2" data-bind="text: aboutAmyText2"></p>
        <p class="about-main-text-3" data-bind="text: aboutAmyText3"></p>
      </div>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
