<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <div class="background-img-2"></div>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class='art-night-selector-container'>
      <h1 class='art-night-selector-header'>Please select your Art Night location</h1>
      <span class='art-night-selector-btn-wrapper'>
        <a href="{{url_for('showArtNightGreenBay')}}" class='art-night-selector-btn'>Green Bay</a>
        <a href="{{url_for('showArtNightTwoRivers')}}" class='art-night-selector-btn'>Two Rivers</a>
      </span>
    </div>

    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/libs/jquery.min.js"></script>
  </body>
</html>
