<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <h1 class="delete-blog-post-header">Delete {{deletedPost.title}} from your blog?</h1>
    <span class="delete-blog-post-button-wrapper">
      <a class="cancel-delete-blog-btn" href="#">Edit</a>
      <a class="delete-blog-btn" href="#">Delete</a>
    </span>
  </body>
</html>
