<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <a href="{{url_for('showMain')}}">
      <img class="header-logo" src="../static/img/homepage/home_logo.png">
    </a>
    <div class="header-container">
      <div class='nav-bar'>
        <a data-bind="click: changeSrcAttrAboutAmy" href="{{url_for('showAboutAmy')}}">
          <span>
            <img class="nav-link" data-bind="attr: {src: aboutAmyNavImg}">
          </span>
        </a>
        <span>
          <a href="{{url_for('showArtNight')}}">
            <img class="nav-link" data-bind="click: changeSrcAttrArtNight, attr: {src: artNightNavImg}">
          </a>
        </span>
        <span>
          <a href="{{url_for('showCatalog')}}">
            <img class="nav-link" data-bind="click: changeSrcAttrShop, attr: {src: shopNavImg}">
          </a>
        </span>
        <span>
          <a href="{{url_for('showPrivateEvents')}}">
            <img class="nav-link" data-bind="click: changeSrcAttrPrivateEvent, attr: {src: privateEventNavImg}">
          </a>
        </span>
        <span>
          <a href="{{url_for('showBlog')}}">
            <img class="nav-link" data-bind="click: changeSrcAttrBlog, attr: {src: blogNavImg}">
          </a>
        </span>
        <span>
          <a href="{{url_for('showReachAmy')}}">
            <img class="nav-link" data-bind="click: changeSrcAttrContact, attr: {src: contactNavImg}">
          </a>
        </span>
      </div>
    </div>
    <div class="social-btn-wrapper">
      <span><a href ="https://www.facebook.com/Art-Night-1596988327179714/">
        <img class="social-btn-header" src="../static/img/fb_header.png">
      </a></span>
      <span><a href="https://www.instagram.com/amyzanderstudio/">
        <img class="social-btn-header" src="../static/img/ig_header.png">
      </a></span>
    </div>
  </body>
</html>
