<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div class="header-container">
      <div class='nav-bar'>
        <span class="nav-link">
          <a href="{{url_for('showAboutAmy')}}">About Amy</a>
        </span>
        <span class="nav-link">
          <a href="{{url_for('showArtNight')}}">Art Night</a>
        </span>
        <span class="nav-link">
          <a href="{{url_for('showCatalog')}}">Catalog</a>
        </span>
        <span class="nav-link">
          <a href="{{url_for('showPrivateEvents')}}">Private Events</a>
        </span>
        <span class="nav-link">
          <a href="{{url_for('showBlog')}}">Blog</a>
        </span>
        <span class="nav-link">
          <a href="{{url_for('showReachAmy')}}">Contact</a>
        </span>
      </div>
    </div>
  </body>
</html>
