<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <div class="header-container">
      <div class='nav-bar'>
        <span>
          <a href="{{url_for('showAboutAmy')}}">
            <img class="nav-link" src="../static/img/studio/about_me_thumbnail.png">
          </a>
        </span>
        <span>
          <a href="{{url_for('showArtNight')}}">
            <img class="nav-link" src="../static/img/studio/art_night_thumbnail.png">
          </a>
        </span>
        <span>
          <a href="{{url_for('showCatalog')}}">
            <img class="nav-link" src="../static/img/studio/shop_thumbnail.png">
          </a>
        </span>
        <span>
          <a href="{{url_for('showPrivateEvents')}}">
            <img class="nav-link" src="../static/img/studio/private_event_thumbnail.png">
          </a>
        </span>
        <span>
          <a href="{{url_for('showBlog')}}">
            <img class="nav-link" src="../static/img/studio/blog_thumbnail.png">
          </a>
        </span>
        <span>
          <a href="{{url_for('showReachAmy')}}">
            <img class="nav-link" src="../static/img/studio/contact_thumbnail.png">
          </a>
        </span>
      </div>
    </div>
  </body>
</html>
