<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Amy Zander Studio and Events</title>
  </head>
  <body style="background-color: #EAECEB">
    <div class="main-container-main">
      <img class="home-circle-1"
           src="../static/img/homepage/painted_hands_group.png"></img>
      <img class="home-circle-2"
           src="../static/img/homepage/pendant_making.png"></img>
      <img class="home-circle-3"
           src="../static/img/homepage/alcohol_pendants.png"></img>
      <img class="home-circle-4"
           src="../static/img/homepage/red_painting.png"></img>
      <img class="home-circle-5"
           src="../static/img/homepage/art_night_group.png"></img>
      <img class="home-circle-6"
            src="../static/img/homepage/bright_swirls_half.png"></img>
      <img class="home-circle-7"
            src="../static/img/homepage/pendant_making_2_half.png"></img>
      <img class="home-circle-8"
            src="../static/img/homepage/fingers_paint.png"></img>
      <img class="home-circle-9"
            src="../static/img/homepage/blue_sunflower.png"></img>
      <img class="home-logo"
            src="../static/img/homepage/home_logo.png"></img>
      <a href="{{url_for('showStudio')}}">
        <img class="enter-studio-main" src="../static/img/homepage/enter_studio.png">
      </a>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
