<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Amy Zander Studio and Events</title>
  </head>
  <body>
    <div>
      {%with messages = get_flashed_messages()%}
        {%if messages%}
          {%for message in messages%}
            <div class="flash">{{message}}</div>
          {%endfor%}
        {%endif%}
      {%endwith%}
    </div>
    <div class="background-img"></div>
    <div class="main-container-main">
      <a href="{{url_for('showAboutAmy')}}">
        <img class="home-circle-1" src="../static/img/homepage/about_me_thumbnail.png">
      </a>
      <a href="{{url_for('showArtNight')}}">
        <img class="home-circle-2" src="../static/img/homepage/art_night_thumbnail.png">
      </a>
      <img class="home-circle-3"
           src="../static/img/homepage/art_night_group-2.png">
      <img class="home-circle-4"
           src="../static/img/homepage/painted_hands_group-2.png">
      <img class="home-circle-5" src="../static/img/homepage/art_night_2.png">
      <a href="{{url_for('showReachAmy')}}">
        <img class="home-circle-6" src="../static/img/homepage/contact_thumbnail.png">
      </a>
      <img class="home-circle-7"
            src="../static/img/homepage/pendant_making_2.png">
      <a href="{{url_for('showBlog')}}">
        <img class="home-circle-8" src="../static/img/homepage/blog_thumbnail.png">
      </a>
      <img class="home-circle-9"
            src="../static/img/homepage/blue_sunflower-3.png">
      <img class="home-circle-10"
            src="../static/img/homepage/pendant_making-2.png">
      <a href="{{url_for('showPrivateEvents')}}">
        <img class="home-circle-11"
             src="../static/img/homepage/private_event_thumbnail.png">
      </a>
      <img class="home-circle-12" src="../static/img/homepage/gus-2.png">
      <a href="{{url_for('showCatalog')}}">
        <img class="home-circle-13"
             src="../static/img/homepage/shop_thumbnail.png">
      </a>
      <img class="home-logo"
            src="../static/img/homepage/home_logo.png"></img>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
