<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Amy Zander Studio and Events</title>
  </head>
  <body style="background-color: #EAECEB">
    <div class="main-container-main">
      <div class="name-container-main">
        <h1 class="name-main"><strong style="letter-spacing: -3px; color: #4D14DB;">AMY</strong>
        <span style="letter-spacing: 12px">ZANDER</span></h1>
        <h2 class="studio-events-main"><em>Art Studio & Events</em></h2>
      </div>
      <div class="social-container-main">
        <img class="social-icon" src="../static/img/fb_icon_black.png">
        <img class="social-icon" src="../static/img/ig_icon_black.png">
      </div>
      <img id="image-changer-1" class="main-image-changer-1"
           src="../static/img/red_painting.jpg"></img>
      <img id="image-changer-2" class="main-image-changer-2"
           src="../static/img/fingers_paint.jpg"></img>
      <img id="image-changer-3" class="main-image-changer-3"
           src="../static/img/fingers_love.jpg"></img>
      <a href="{{url_for('showStudio')}}"
         class="enter-studio-main">
         <strong style="color: #4D14DB; letter-spacing: -4px">ENTER</strong>
         <span style="letter-spacing: 12px">STUDIO</span></a>
    </div>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
