<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="page-mask" data-bind="visible: togglePageMask"></div>
    <div class="add-blog-post-pane" data-bind="visible: toggleAddBlogPane">
      <h1 class="add-blog-post-title">Add New Blog Post</h1>
      <form class="add-blog-post-form" action="{{url_for('newBlogPost')}}" method="POST">
        <input class="add-blog-input" placeholder="Article Title" name="title" required>
        <input class="add-blog-input" placeholder="Subtitle (optional)" name="subtitle">
        <input class="add-blog-input" placeholder="Author" name="author" value="Amy Zander" required>
        <input class="add-blog-input" placeholder="Image File Name" name="img" value="../static/img/blog/" required>
        <input class="add-blog-input" placeholder="Publish Date" name="date" required>
        <input class="add-blog-input-header" placeholder="Paragraph Header 1 (optional)" name="body_header_1">
        <textarea class="add-blog-input-body" placeholder="Paragraph 1" name="body_1" required></textarea>
        <input class="add-blog-input-header" placeholder="Paragraph Header 2 (optional)" name="body_header_2">
        <textarea class="add-blog-input-body" placeholder="Paragraph 2 (optional)" name="body_2"></textarea>
        <input class="add-blog-input-header" placeholder="Paragraph Header 3 (optional)" name="body_header_3">
        <textarea class="add-blog-input-body" placeholder="Paragraph 3 (optional)" name="body_3"></textarea>
        <input class="add-blog-input-header" placeholder="Paragraph Header 4 (optional)" name="body_header_4">
        <textarea class="add-blog-input-body" placeholder="Paragraph 4 (optional)" name="body_4"></textarea>
        <input class="add-blog-input-header" placeholder="Paragraph Header 5 (optional)" name="body_header_5">
        <textarea class="add-blog-input-body" placeholder="Paragraph 5 (optional)" name="body_5"></textarea>
        <span class="add-blog-btn-wrapper">
          <input class="add-blog-submit-btn" type="submit" value="Post to Blog">
          <a href="{{url_for('showBlog')}}" class="add-blog-cancel-btn">Cancel</a>
        </span>
      </form>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
