<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <div class="background-img-2"></div>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="contact-container">
      <div class="contact-info-wrapper">
        <div class="contact-email-btn">Email</div>
        <div class="contact-phone-btn">Talk / Text</div>
        <img class="contact-social-btn" src="../static/img/contact_me/ig_banner.png">
        <img class="contact-social-btn" src="../static/img/contact_me/fb_banner.png">
        <h1 class="contact-info-header">Request a call from Amy:</h1>
        <form class="contact-info-form">
          <input class="contact-form-input" placeholder="Name">
          <input class="contact-form-input" placeholder="Phone">
          <textarea class="contact-form-input" rows="5" placeholder="Comments"></textarea>
          <button class="contact-form-submit-btn" type="submit">Send Request</button>
        </form>
      </div>
      <img class="contact-main-img" src="../static/img/contact_me/portrait.png">
    </div>
  </body>
  <script src="../static/js/libs/knockout-3.2.0.js"></script>
  <script src="../static/js/model.js"></script>
  <script src="../static/js/app.js"></script>
</html>
