<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Amy Zander Studio and Events</title>
  </head>
  <body>
    <div class="background-img"></div>
    <div class="main-container">
      <div class="signature-container">
        <img class="main-page-signature" src="../static/img/signature.png">
        <img class="main-page-title" src="../static/img/art_studio_and_events.png">
        <div class="social-media-container">
          <img class="social-icon" src="../static/img/ig_icon.png">
          <img class="social-icon" src="../static/img/fb_icon.png">
        </div>
      </div>
      <span class="nav-button-container">
        <img class="nav-button" src="../static/img/about_me_thumbnail.png">
        <img class="nav-button" src="../static/img/art_night_thumbnail.jpg">
        <img class="nav-button" src="../static/img/shop_thumbnail.png">
        <img class="nav-button" src="../static/img/private_event_thumbnail.png">
        <img class="nav-button" src="../static/img/blog_thumbnail.jpg">
        <img class="nav-button" src="../static/img/contact_thumbnail.jpg">
      </span>
    </div>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
